{% extends "base.html.twig" %}

{% block title %} Change password {% endblock %}

{% block content %}
    <h5>Change your password</h5>

    {{ include('security/password_form.html.twig') }}

{% endblock %}
