{% extends 'base_admin.html.twig' %}

{% block title %}New Reservation_admin{% endblock %}

{% block content %}
    <h1>Create new Reservation</h1>

    {{ include('reservation/_form.html.twig') }}

    <a href="{{ path('app_reservation_index_admin') }}">back to list</a>
{% endblock %}
