{% extends 'base_admin.html.twig' %}

{% block title %}Edit_admin Terrain{% endblock %}

{% block body %}
    <h1>Edit Terrain</h1>

    {{ include('terrain/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_terrain_index_admin') }}">back to list</a>

    {{ include('terrain_admin/_delete_form_admin.html.twig') }}
{% endblock %}
