{% extends 'base_admin.html.twig' %}

{% block title %}New_admin Terrain{% endblock %}

{% block body %}
    <h1>Create new Terrain</h1>

    {{ include('terrain/_form.html.twig') }}

    <a href="{{ path('app_terrain_index_admin') }}">back to list</a>
{% endblock %}
