{% extends "back/base.html.twig" %}

{% block body %}
    <h1>Create new Category</h1>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    {{ include('category/_form.html.twig') }}

    <a href="{{ path('app_category_index') }}"> <span class="material-icons">
        arrow_back</span>back to list</a>
{% endblock %}
