{% extends 'base.html.twig' %}

{% block title %}New CardItem{% endblock %}

{% block body %}
    <h1>Create new CardItem</h1>

    {{ include('card_item/_form.html.twig') }}

    <a href="{{ path('app_card_item_index') }}">back to list</a>
{% endblock %}
